{% extends "::base.html.twig" %}

{% block body %}
    <form method="post">
   {{ form_row(form.email) }}
   {{ form_row(form.fullname) }}
    {{ form_row(form.comment) }}
    <input type="submit" name="comment"/>
    </form>
  
   
    
{% endblock %}   