{%extends "LoginLoginBundle:Default:index.html.twig"%}
{%block container %}
<div class="container" >
    <form id="form" method="POST" action="{{path('login_login_signup')}}" data-validate="parsley">
         <h2>Sign Up</h2>
        <label>Username</label>
        <input type="text" id="username" name="username" class="input-xlarge" data-trigger="change" data-required="true" data-type="email"><br/>
         <label>Repeat Username</label>
        <input type="text" id="usernameRe" name="usernameRe" class="input-xlarge" data-trigger="change" data-required="true" data-type="email" data-equalto="#username"><br/>
        <label>First Name</label>
        <input type="text" name="firstname" class="input-xlarge" data-trigger="change" data-required="true"><br/>
        <label>Password</label>
        <input type="password" name="password" class="input-xlarge" data-trigger="change" data-required="true"><br/>
        <div>
            <button class="btn btn-primary" type="submit" >Create Account</button>
        </div>

    </form>
</div>
 {%endblock%}