{%extends "LoginLoginBundle:Default:index.html.twig"%}
{%block stylesheets %}

{%endblock%}
   {%block container %}
<div class="container">
  <!-- Product page in different controller !-->
  <!-- Why three same pages ? !-->
<a href="/product">Product</a>
   <h2>Hello {{name}}</h2>
   <a href="localhost"
</div> 
<a href="{{path('login_login_logout')}}" >Logout</a>
    {%endblock%}